*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

a {
    text-decoration: none;
    color: $color-primary-dark;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    font-weight: normal;
    font-size: 2em;
    border-bottom: 2px solid #000;
    padding-bottom: 1em;
}

h3 {
    font-size: 1.7em;
    margin: 1em 0em;
}

