.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  background-color: #333;
  gap: 3rem;
}

.container-skills {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-align: center;
  gap: 3rem;
}

.background {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  border-top: 5px solid #f05f40;
}

.background ul {
  padding: 0;
  display: flex;
  justify-content: center;
}

.background ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  margin: 0 1.3rem;
  transition: 0.4s ease-out;
}

.background ul li:hover {
  transform: scale(1.1);
}

.text {
  padding: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
}

#skills {
  display: block;
  height: 30px;
  visibility: hidden;
}
