.carousel{
    position: relative;
    display: flex;
    height: 415px;
    width: 95%;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    margin: 20px auto;
    @media screen and (max-width: 500px){
        height: 200px;  
        margin: 20px auto;   
    }
    &_img {
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
    }
    &_arrow{
        position: absolute;
        top: 50%;
        height: 15%; 
        transform: translateY(-50%);
        cursor: pointer;
        &:active{
            transform: translateY(-50%) scale(0.9);
        }
        &_back{
            right: 25px;
        }
        &_forward{
            left: 25px;
        }
    }
    .slideCount{
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $color-primary;
        font-weight: 500;
        font-size: clamp(14px, 2vw, 18px);
    }
}