.gallery {
    @include flex(column);
    text-align: center;
    gap: 2em;
    background-color: #f8f8f8;
    &_project {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        background-color: #f8f8f8;
        padding: 50px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: 1157px) {
            gap: 45px;
        }
        @media screen and (max-width: 500px) {
            gap: 20px;
            padding: 0;
        }
    }
}

#project {
    display: block;
    height: 40px;
    visibility: hidden;
}