.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)!important;
    @include flex(row, space-between, center);
    max-width: 100%;
    padding: 0 1.2rem;
    margin: 0 auto;
    &_color {
        background-color: #fff!important;
    }
    &_logo {
        font-size: 1.3rem;
        padding: 1.2rem;
        color: $color-secondary;
        align-items: center;
        font-weight: bolder;
        :hover {
            transform: scale(1.1);
            transition: all .5s ease-in;
        }
    }
    &_link {
        display: flex;
        gap: 1.8rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: $color-secondary;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        :hover {
            color: $color-link;
            text-decoration: underline;
            text-underline-offset: 8px;
            text-decoration-thickness: 2px;
            transition: all 0.2s ease;
        }
    }
}