.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)!important;
    @include flex(row, space-between, center);
    max-width: 100%;
    padding: 0 1.2rem;
    margin: 0 auto;
    &_color {
        background-color: rgba(0,0,0,.9)!important;
    }
    &_logo {
        width: 15%;
    }
    &_link {
        display: flex;
        gap: 1.8rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: #fff;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        :hover {
            text-decoration: underline;
            text-decoration-color: $color-secondary-dark;
            text-underline-offset: 8px;
            text-decoration-thickness: 2px;
            transition: all 0.2s ease;
        }
    }
}