.header {
    @include flex(row, space-between, center);
    height: 68px;
    max-width: 100%;
    // background: #100138;
    margin: 0 auto;
    margin-bottom: 10px;
    @media screen and (max-width: 500px) {
        height: 47px;
    }
    &_logo {
        height: 68%;
    @media screen and (max-width: 500px)  {
        height: 35px;
        }
    }
    &_link {
        display: flex;
        gap: 50px;
        font-size: 24px;
        color: $color-secondary;
        @media screen and (max-width: 500px) {
            gap: 20px;
            font-size: 12px;
        }
            &_active {
                position: relative;
                text-decoration: underline solid;
                color: $color-secondary;
        }
    }
}