.portfolio {
    background: #f8f8f8;
    @include flex(column);
    padding-bottom: 9em;
    // margin-bottom: 4em;
    align-items: center;
    text-align: center;
    gap: 5em;
    &_project {
        @include flex(column, space-between);
        flex-wrap: wrap;
    }
    &_container {
        @include flex;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;
    }
    &_card {
        display: flex;
        width: 31%;
        height: 300px;
        background-color: #f8f8f8;
        padding-top: 3px;
        margin-bottom: 15px;
        flex-direction: column;
        overflow: hidden;
        border-radius: 5px;
        max-height: 300px;
        @include shadow;
        transition: .4s ease-out;
        justify-content: space-between;
        &:hover {
            @include shadow-dark;
            opacity: 0.9;
        }
    }
    &_card-img {
        object-fit: cover;
        width: 100%;
        height: 230px;
        padding: 4px 8px 0px 8px;
        filter: brightness(90%);
        transition: transform 0.4s ease-out;
        will-change: transform;
        &:hover {
            transform: scale(1.02);
        }
    }
    
    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
        padding: 8px;
        margin: 0 10px ;
        color: #5bb462;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.link {
    transition: .4s ease-out;
    transform: scale(1);
}

.link:hover {
    transform: scale(1.1);
    color: $color-primary-dark;
}



#project {
    display: block;
    height: 10px;
    visibility: hidden;
}

@media screen and (max-width:768px) {
    .portfolio_container {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        padding: 0 10px;
    }

    .portfolio_card {
        width: 100%;
        margin: auto;
    }
}